@import "bootstrap";
@import "content";
@import "sessions";
@font-face {
  font-family: "Futura-Book";
  src: url(/assets/futura/Futura_Book_font.ttf);
}
@font-face {
  font-family: "Futura-Book-Italic";
  src: url(/assets/futura/Futura_Book_Italic_font.ttf);
}
@font-face {
  font-family: "Futura-Book-Medium";
  src: url(/assets/futura/futura_medium_bt.ttf);
}
