@import "bootstrap";
@import "content";
@import "sessions";
@font-face {
  font-family: "Futura-Book";
  src: url(asset_path("futura/Futura_Book_font.ttf"));
}
@font-face {
  font-family: "Futura-Book-Italic";
  src: url(asset_path("futura/Futura_Book_Italic_font.ttf"));
}
@font-face {
  font-family: "Futura-Book-Medium";
  src: url(asset_path("futura/futura_medium_bt.ttf"));
}
